<div *ngIf="isLoading" class="loading">
  Ładowanie...
</div>

<div *ngIf="error" class="error">
  {{ error }}
</div>

<div *ngIf="quiz" class="quiz-details" @fadeIn>
  <h1>{{ quiz.title }}</h1>
  <p *ngIf="quiz.description" class="description">{{ quiz.description }}</p>
  <p class="author">Autor: {{ quiz.author }}</p>

  <div class="questions-section">
    <h2>Pytania</h2>
    <div *ngFor="let question of quiz.questions" class="question">
      <div class="question-header">
        <h3>{{ question.question }}</h3>
        <a [routerLink]="['/quizzes', quiz.quizzId, 'editquestion', question.questionId]" class="edit-icon">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <div class="answers-section">
        <h4>Odpowiedzi:</h4>
        <div *ngFor="let answer of question.answers" class="answer" [class.correct-answer]="answer.isCorrect">
          <div class="answer-content">
            {{ answer.answer }}
            <span *ngIf="answer.isCorrect" class="correct-marker">✓</span>
            <a [routerLink]="['/quizzes', quiz.quizzId, 'questions', question.questionId, 'answers', answer.answerId, 'edit']"
              class="edit-icon">
              <i class="material-icons">edit</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>